<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NonRenewableSubscriptions</key>
	<dict>
		<key>com.chronicstimulation.paintrackerlite.wxhist12</key>
		<dict>
			<key>Name</key>
			<string>WeatherHistory</string>
			<key>SubscriptionMonths</key>
			<integer>12</integer>
		</dict>
		<key>com.chronicstimulation.paintrackerlite.wxhist06</key>
		<dict>
			<key>Name</key>
			<string>WeatherHistory</string>
			<key>SubscriptionMonths</key>
			<integer>6</integer>
		</dict>
		<key>com.chronicstimulation.paintrackerlite.wxhist01</key>
		<dict>
			<key>Name</key>
			<string>WeatherHistory</string>
			<key>SubscriptionMonths</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Consumables</key>
	<dict>
		<key>com.chronicstimulation.paintrackerlite.diaryentry200</key>
		<dict>
			<key>Name</key>
			<string>Diary Entries</string>
			<key>Count</key>
			<string>200</string>
		</dict>
		<key>com.chronicstimulation.paintrackerlite.diaryentry50</key>
		<dict>
			<key>Name</key>
			<string>Diary Entries</string>
			<key>Count</key>
			<string>50</string>
		</dict>
	</dict>
	<key>Non-Consumables</key>
	<array>
		<string>com.chronicstimulation.paintrackerlite.unlimiteddiaryentry</string>
		<string>com.chronicstimulation.paintrackerlite.multidiarysupport</string>
		<string>com.chronicstimulation.paintrackerlite.comparereport</string>
		<string>com.chronicstimulation.paintrackerlite.calendarreport</string>
	</array>
	<key>Subscriptions</key>
	<dict/>
</dict>
</plist>
